body {
  background-color: black;
  background-image: url(gymmifront22.webp);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 1535px;

}

.comingsoon img {
  position: absolute;
  /* border: 4px solid #fff; */
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin-left: 950px;
  margin-top: 200px;
}
.aboutus {
  z-index: 5;
  position: absolute;
  color: #fff;
  display: block;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 90px;
  margin-left: 100px;
}

.left img {
  display: inline-block;
  width: 80px;
  padding-left: 5px;
  padding-top: 5px;
}

.thirdimg h1 {
  margin-top: 200px;
}

.right {
  position: absolute;
  right: 34px;
  top: 20px;
  display: inline-block;

}

.navbar1 {

  display: inline-block;

}

.navbar1 li {
  display: inline-block;
  font-size: 20px;
}

.navbar1 li a {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  text-decoration: none;
  padding: 4px 30px;
  border-radius: 20px;
}

.navbar1 li a:hover {
  background-color: rgb(248, 5, 5);
}

.right .navbar1 li .active {
  color: red;
}