.mainname {
    position: absolute;
    color: red;
    display: block;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 290px;
    margin-top: 50px;
}