body {
    background-color: black;
    background-image: url(gymmifront18.webp);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 1535px;

}

.loginbox {
    width: 320px;
    height: 320px;
    border-radius: 50px;
    background: #000;
    color: #fff;
    margin-top: 200px;
    margin-left: 600px;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
}

.avtar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: clc(50% - 50px);

}

h1 {
    margin: 0px;
    padding: 0 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    width: 200px;
  height: 30px;
  color: white;
  margin-left: 28px;
  background-color: red;
  border: 2px solid red;
  border-radius: 15px;
  text-align: center;
  font-size: large;
}

.btn:hover {
    background-color: rgb(246, 101, 101);
    color: red;
}

.left img {
    display: inline-block;
    width: 80px;
    padding-left: 5px;
    padding-top: 5px;
}

.thirdimg h1 {
    margin-top: 200px;
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;

}

.navbar1 {

    display: inline-block;

}

.navbar1 li {
    display: inline-block;
    font-size: 20px;
}

.navbar1 li a {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 20px;
}

.navbar1 li a:hover {
    background-color: rgb(248, 5, 5);
}

.right .navbar1 li .active {
    color: red;
}